body {  background-color: rgba(255, 255, 255, 0.993);
}

.head {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;  
  background-color: #a3d067;
  
}


.menuhorizontal{
    width: auto;
    height: 30px;
    
    }
    .menuhorizontal ul{
        list-style: none;
        
        }
        .menuhorizontal li{
            list-style: none;
            }

        .menuhorizontal li .menu-um{
            display: inline;
            float: left;
            padding:0px;
            margin: 0;
            width: 80px;
            border-left: #a3d067 thin solid;
            }
            .menuhorizontal a{
                display: block;
                text-decoration: none;
                background-color: #CCCCCC;
                font-size: 14px;
                font-weight: bold;
                }
           
                .menuhorizontal :hover{
                    background-color: #f883c7e3;
                    text-decoration: none;
                    color: #FFFFFF;
                }
                    
.logo {
    align-items: center;
    display: flex;
    height: 80px;
}
.header { 
    width: auto;
    height: 50px;
margin-top: 100px;
text-align:center;
font-size: 20px;
}

.login-app { 
    text-align: center;
    margin-top: 100px;
}


.box-um { 
    max-width: 18rem    ;
    text-align: center;
    margin-top: 30px;

}

 .box-um  .box-um-img {
    text-align: center;
   width: 200px;
    
}

.box-dois{
    max-width: 18rem;
    margin-top: 30px;
    text-align: center; 
}
.box-dois  .box-dois-img {
    text-align: center;
   width: 200px;
    
}